* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.container {
  border: 1px solid red;
  padding: 50px;
  height: 100vh;
}

.list {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
}